@charset "UTF-8";
@font-face {
  font-family: 'DIN Black';
  src: url("../../fonts/din-black.ttf") format("truetype");
}

@font-face {
  font-family: 'DINPro Medium';
  src: url("../../fonts/DINPro-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'DINPro Bold';
  src: url("../../fonts/DINPro-Bold.ttf") format("truetype");
}

.no-wrap {
  white-space: nowrap;
}

.bold {
  font-weight: bold;
}

.hidden {
  display: none;
}

.br-mobile {
  display: none;
}

@media all and (max-width: 425px) {
  .br-mobile {
    display: block;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1;
}

body {
  font-family: "DINPro Medium", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}

@media all and (max-width: 769px) {
  body {
    margin-top: 48px;
  }
}

.logo {
  position: absolute;
  margin-left: 7.5%;
  margin-top: 25px;
  width: 140px;
  z-index: 2;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.background-1 {
  background-color: #f9f9f9;
}

.background-white {
  background-color: white;
}

.owl-carousel .owl-item img {
  width: auto;
}

.first-section__items-list--mobile.owl-theme .owl-dots {
  margin-top: 15px;
}

.first-section__items-list--mobile.owl-theme .owl-dots .owl-dot span {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #959595;
  margin: 7px;
}

.first-section__items-list--mobile.owl-theme .owl-dots .owl-dot.active span {
  background-color: #ff5b14;
}

.first-section__items-list--mobile .owl-prev {
  height: 60px;
  width: auto;
  position: absolute;
  left: 20px;
  margin: auto;
  top: 30px;
  cursor: pointer;
}

.first-section__items-list--mobile .owl-next {
  height: 60px;
  width: auto;
  position: absolute;
  right: 20px;
  margin: auto;
  top: 30px;
  cursor: pointer;
}

.first-section__items-list--mobile.owl-theme .owl-nav [class*=owl-]:hover {
  background: none;
}

.first-section__items-list--mobile.owl-theme .owl-nav [class*=owl-]:hover svg {
  fill: #ff5b14;
}

@media all and (max-width: 1000px) {
  br.large-screen {
    display: none;
  }
}

.svg-apple {
  fill: white;
  height: 30px;
  width: auto;
  margin: 0 15px 0 10px;
}

@media all and (max-width: 1000px) {
  .svg-apple {
    height: 20px;
  }
}

@media all and (max-width: 769px) and (min-width: 420px) {
  .svg-apple {
    height: 30px;
  }
}

@media all and (max-width: 330px) {
  .svg-apple {
    margin: 0 7px 0 5px;
  }
}

.svg-googleplay {
  fill: white;
  height: 30px;
  width: auto;
  margin: 0 10px;
}

@media all and (max-width: 1000px) {
  .svg-googleplay {
    height: 20px;
  }
}

@media all and (max-width: 769px) and (min-width: 420px) {
  .svg-googleplay {
    height: 30px;
  }
}

@media all and (max-width: 330px) {
  .svg-googleplay {
    margin: 0 7px 0 5px;
  }
}

.svg-score {
  fill: white;
  height: 100%;
  width: auto;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}

.svg-fb__f {
  fill: white;
}

.svg-whatsapp__content {
  fill: white;
}

.svg-messenger__content {
  fill: white;
}

.svg-line__content {
  fill: white;
}

.svg-mail__envelope {
  fill: white;
}

.svg-arrow {
  width: 25px;
  fill: rgba(250, 250, 250, 0.7);
}

.svg-arrow--active {
  fill: white;
}

@media all and (max-width: 400px) {
  .svg-arrow {
    width: 20px;
  }
}

.svg-slider {
  fill: #959595;
  height: 60px;
  width: auto;
}

.svg-slider:hover {
  fill: #ff5b14;
}

.button-download {
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  text-decoration: none;
  color: white;
  height: 62px;
  width: 285px;
  line-height: 42px;
  background-color: #ff5b14;
  padding: 10px 40px;
  border-radius: 30px;
}

@media all and (max-width: 769px) {
  .button-download {
    padding: 10px 15px;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    width: 155px;
    height: 33px;
  }
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: 49vw;
  width: 100%;
  background-image: url("../../images/masthead.jpg");
  background-size: 100%;
  background-position: top left;
  background-repeat: no-repeat;
  color: white;
}

@media all and (max-width: 1100px) {
  .header {
    background-image: url("../../images/test-header2.png");
    height: 60vw;
  }
}

@media all and (max-width: 769px) {
  .header {
    background-image: url("../../images/header-background_mobile.png");
    height: 191vw;
  }
}

.header__first-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 7.5%;
}

@media all and (max-width: 769px) {
  .header__first-part {
    margin-bottom: 22vw;
    margin-top: 83vw;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@media all and (max-width: 343px) {
  .header__first-part {
    margin-top: 72vw;
  }
}

.header__scroll-arrows {
  position: absolute;
  bottom: 50px;
  margin: 0 auto;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-animation: bounce-down 2s infinite;
          animation: bounce-down 2s infinite;
}

@media all and (max-width: 1000px) {
  .header__scroll-arrows {
    bottom: 35px;
  }
}

@media all and (max-width: 769px) {
  .header__scroll-arrows {
    bottom: 8%;
  }
}

@media all and (max-width: 343px) {
  .header__scroll-arrows {
    bottom: 5%;
  }
}

@-webkit-keyframes bounce-down {
  0%, 20%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes bounce-down {
  0%, 20%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.header-description {
  margin-bottom: 40px;
}

@media all and (max-width: 1250px) {
  .header-description {
    margin-bottom: 20px;
  }
}

@media all and (max-width: 769px) and (min-width: 420px) {
  .header-description {
    margin-bottom: 40px;
  }
}

.header-description__title {
  font-family: "DIN Black", "Arial Black", Gadget, sans-serif;
  line-height: 1.2;
  letter-spacing: 1px;
  font-size: 3.5vw;
  margin-bottom: 20px;
}

@media all and (max-width: 769px) {
  .header-description__title--desktop {
    display: none;
  }
}

.header-description__title--mobile {
  display: none;
}

@media all and (max-width: 769px) {
  .header-description__title--mobile {
    display: block;
    font-size: 10vw;
  }
}

@media all and (max-width: 425px) {
  .header-description__title--mobile {
    display: block;
    font-size: 34px;
  }
}

.header-description__text {
  font-size: 20px;
  width: 33%;
  line-height: 1.7;
  font-family: "DINPro Medium", Arial, Helvetica, sans-serif;
}

@media all and (max-width: 1500px) {
  .header-description__text {
    font-size: 15px;
  }
}

@media all and (max-width: 1000px) {
  .header-description__text {
    font-size: 13px;
    line-height: 1.1;
  }
}

@media all and (max-width: 769px) {
  .header-description__text {
    font-size: 3vw;
    width: 90%;
    line-height: 1.7;
  }
}

@media all and (max-width: 425px) {
  .header-description__text {
    font-size: 14px;
  }
}

.download-links {
  width: 42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

@media all and (max-width: 1000px) {
  .download-links {
    width: 50%;
  }
}

@media all and (max-width: 769px) {
  .download-links {
    width: 100%;
  }
}

.download-links__item {
  width: 175px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

@media all and (max-width: 1000px) {
  .download-links__item {
    width: 140px;
  }
}

@media all and (max-width: 769px) and (min-width: 420px) {
  .download-links__item {
    width: 175px;
  }
}

@media all and (max-width: 330px) {
  .download-links__item {
    width: 115px;
  }
}

.download-links__item:nth-child(1) {
  margin-right: 28px;
}

@media all and (max-width: 1000px) {
  .download-links__item:nth-child(1) {
    margin-right: 5%;
  }
}

@media all and (max-width: 330px) {
  .download-links__item:nth-child(1) {
    margin-right: 2%;
  }
}

.first-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  width: 100%;
  padding: 50px 0 15px 0;
}

@media all and (max-width: 768px) {
  .first-section {
    height: auto;
    padding: 0;
    padding-top: 20px;
  }
}

.first-section__title {
  color: #9e2505;
  font-family: "DIN Black", "Arial Black", Gadget, sans-serif;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 1px;
  font-size: 3vw;
  margin-bottom: 70px;
}

@media all and (max-width: 900px) {
  .first-section__title {
    text-align: center;
    margin-bottom: 20px;
  }
}

@media all and (max-width: 769px) {
  .first-section__title--desktop {
    display: none;
  }
}

.first-section__title--mobile {
  display: none;
}

@media all and (max-width: 769px) {
  .first-section__title--mobile {
    display: block;
    font-size: 40px;
    padding: 0 10px;
  }
}

@media all and (max-width: 425px) {
  .first-section__title--mobile {
    font-size: 24px;
  }
}

.first-section__items-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 0 90px;
}

.first-section__items-list--mobile.owl-carousel {
  display: none;
}

@media all and (max-width: 769px) {
  .first-section__items-list {
    display: none;
  }
  .first-section__items-list--mobile.owl-carousel {
    display: block;
    margin: 30px 0;
  }
}

.first-section__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.first-section__arrow {
  display: none;
  width: 70px;
  height: 85px;
  position: absolute;
  margin: auto;
  top: 30px;
  cursor: pointer;
}

@media all and (max-width: 769px) {
  .first-section__arrow--active {
    display: block;
  }
}

.first-section__arrow--right {
  right: 10px;
}

.first-section__video {
  width: 85%;
  margin: 0 auto;
  height: 48vw;
  margin-top: 3%;
  background-image: url("../../images/video-img.jpg");
  background-size: 100%;
  background-position: top left;
  background-repeat: no-repeat;
}

@media all and (max-width: 769px) {
  .first-section__video {
    background-image: url("../../images/video-img.jpg");
    background-size: cover;
    width: 100%;
    height: 150vw;
    margin-top: 0;
  }
}

.first-section-video__overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.first-section-video__text {
  color: white;
  font-family: "DINPro Medium", Arial, Helvetica, sans-serif;
  font-size: 22px;
  margin-top: 20px;
  text-align: center;
  padding: 0 20px;
}

@media all and (max-width: 769px) {
  .first-section-video__text {
    font-size: 20px;
  }
}

@media all and (max-width: 425px) {
  .first-section-video__text {
    font-size: 14px;
  }
}

.first-section-video__play-button {
  width: 6vw;
  cursor: pointer;
}

@media all and (max-width: 769px) {
  .first-section-video__play-button {
    width: 100px;
  }
}

.first-section-item__pic {
  margin-bottom: 20px;
}

.first-section-item__text {
  font-family: "DINPro Medium", Arial, Helvetica, sans-serif;
  line-height: 1.2;
  color: #4c4c4c;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

@media all and (max-width: 425px) {
  .first-section-item__text {
    font-size: 14px;
  }
}

.aside-infos {
  position: relative;
}

@media all and (max-width: 769px) {
  .aside-infos {
    margin-top: 25px;
  }
}

.aside-infos__container {
  background-color: #2a2a2a;
  color: white;
  padding-left: 15%;
  height: 13vw;
  width: 80%;
  margin-top: 10%;
}

@media all and (max-width: 769px) {
  .aside-infos__container {
    width: 100%;
    padding: 7.5%;
    margin-top: 0;
    height: auto;
  }
}

.aside-infos__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 80%;
  font-size: 1.1vw;
  font-family: "DINPro Medium", Arial, Helvetica, sans-serif;
}

@media all and (max-width: 769px) {
  .aside-infos__description {
    width: 100%;
  }
}

.aside-infos__title {
  font-family: "DIN Black", "Arial Black", Gadget, sans-serif;
  font-size: 1.8vw;
  margin-bottom: 15px;
}

@media all and (max-width: 769px) {
  .aside-infos__title--desktop {
    display: none;
  }
}

.aside-infos__title--mobile {
  display: none;
}

@media all and (max-width: 769px) {
  .aside-infos__title--mobile {
    display: block;
    font-size: 30px;
    margin-bottom: 15px;
    text-align: left;
  }
}

@media all and (max-width: 425px) {
  .aside-infos__title--mobile {
    font-size: 18px;
  }
}

.aside-infos__text {
  line-height: 1.5;
}

@media all and (max-width: 769px) {
  .aside-infos__text {
    line-height: 1.4;
    font-size: 20px;
  }
}

@media all and (max-width: 425px) {
  .aside-infos__text {
    font-size: 14px;
  }
}

.aside-infos__circle {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffac37), color-stop(50%, #ff6b06), to(#ff6b06));
  background: linear-gradient(#ffac37 0%, #ff6b06 50%, #ff6b06 100%);
  position: absolute;
  right: 0;
  color: white;
  top: -1.5vw;
  height: 17vw;
  width: 17vw;
  border-radius: 50% 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

@media all and (max-width: 769px) {
  .aside-infos__circle {
    display: none;
  }
}

.circle__text {
  font-size: 1.3vw;
  font-family: "DINPro Medium", Arial, Helvetica, sans-serif;
  margin-bottom: 1vw;
}

.circle__score {
  height: 39%;
  width: 100%;
  position: relative;
}

.section {
  width: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.section:nth-child(6), .section:nth-child(7) {
  padding-top: 80px;
}

@media all and (max-width: 769px) {
  .section {
    height: auto;
  }
  .section:nth-child(6), .section:nth-child(7) {
    padding-top: 30px;
  }
  .section:nth-child(8) {
    padding-top: 30px;
    padding-bottom: 25px;
  }
}

.section__first-part {
  width: 60%;
}

@media all and (max-width: 769px) {
  .section__first-part {
    width: 100%;
  }
}

.section__second-part {
  width: 60%;
}

@media all and (max-width: 769px) {
  .section__second-part {
    width: 100%;
  }
}

.section__description {
  width: 100%;
  padding: 0;
  padding-left: 15%;
  padding-right: 7.5%;
}

.section__description--right {
  padding-left: 7.5%;
  padding-right: 15%;
}

@media all and (max-width: 769px) {
  .section__description--right {
    padding: 7.5%;
  }
}

@media all and (max-width: 769px) {
  .section__description {
    padding: 0 7.5%;
  }
}

.section__illustration {
  position: relative;
  width: 40%;
  height: 100%;
  padding-right: 7.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.section__illustration:nth-child(1) {
  padding-left: 7.5%;
  padding-right: 0;
}

.section__illustration:nth-child(1) img {
  z-index: 2;
}

.section__illustration img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

@media all and (max-width: 769px) {
  .section__illustration {
    display: none;
  }
}

.section__illustration-mobile {
  display: none;
}

@media all and (max-width: 769px) {
  .section__illustration-mobile {
    display: block;
    width: 100%;
    margin-bottom: 25px;
  }
}

.section__title {
  color: #9e2505;
  font-family: "DIN Black", "Arial Black", Gadget, sans-serif;
  line-height: 1.2;
  letter-spacing: 1px;
  font-size: 3vw;
  margin-bottom: 50px;
}

@media all and (max-width: 769px) {
  .section__title--desktop {
    display: none;
  }
}

.section__title--mobile {
  display: none;
}

@media all and (max-width: 769px) {
  .section__title--mobile {
    display: block;
    font-size: 40px;
    text-align: center;
    margin-bottom: 25px;
  }
}

@media all and (max-width: 425px) {
  .section__title--mobile {
    font-size: 24px;
  }
}

.section__subillustration {
  margin-top: 5%;
  -webkit-transform: translateX(-9vw);
  transform: translateX(-9vw);
  display: inline-block;
  max-width: 100%;
  height: auto;
}

@media all and (max-width: 769px) {
  .section__subillustration {
    display: none;
  }
}

.section-description__text-list {
  font-family: "DINPro Medium", Arial, Helvetica, sans-serif;
  color: #4c4c4c;
  list-style: none;
  margin: 0;
}

@media all and (max-width: 769px) {
  .section-description__text-list {
    margin: 0 auto;
    width: 90%;
    padding: 0;
    font-size: 20px;
  }
}

@media all and (max-width: 425px) {
  .section-description__text-list {
    font-size: 14px;
  }
}

.section-description__text-item {
  margin-bottom: 15px;
  position: relative;
}

.section-description__text-item span {
  position: relative;
  display: block;
  padding-left: 20px;
  letter-spacing: 0.02em;
  line-height: 1.4;
}

.section-description__text-item:before {
  content: '•';
  position: absolute;
  left: 0;
  top: 2px;
}

.back-to-top {
  cursor: pointer;
  position: absolute;
  bottom: 40px;
  right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.back-to-top svg {
  width: 20px;
  height: 20px;
}

.back-to-top span {
  font-family: "DINPro Medium", Arial, Helvetica, sans-serif;
  display: inline-block;
  margin-left: 10px;
  font-size: 13px;
  color: #969696;
  line-height: 20px;
}

@media all and (max-width: 769px) {
  .back-to-top {
    display: none;
  }
}

.social-nav {
  position: fixed;
  top: 25%;
  left: 0;
}

@media all and (max-width: 769px) {
  .social-nav {
    display: none;
  }
}

.social-nav__item {
  width: 40px;
  height: 40px;
  display: block;
  position: relative;
}

.social-nav__item:hover {
  -webkit-animation: bounce .5s ease-in-out;
          animation: bounce .5s ease-in-out;
}

.social-nav__item svg {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.social-nav__item--fb {
  background-color: #3b5999;
}

.social-nav__item--whatsapp {
  background-color: #25D366;
}

.social-nav__item--messenger {
  background-color: #0084ff;
}

.social-nav__item--line {
  background-color: #00c300;
}

.social-nav__item--mail {
  background-color: #848484;
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
}

@keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
}

.video-lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.video-lightbox--visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video-lightbox__close-button {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
  color: white;
}

.video-lightbox__close-button span {
  padding-left: 5px;
}

.video-lightbox video {
  max-width: 50%;
  max-height: 100%;
}

@media all and (max-width: 426px) {
  .video-lightbox video {
    max-width: 100%;
    max-height: 100%;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  height: 30vh;
  max-height: 250px;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #4b4b4b;
}

@media all and (max-width: 769px) {
  .footer {
    height: 170px;
    padding-top: 40px;
    padding-bottom: 20px;
  }
}

.footer__first-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  width: 100%;
  padding-bottom: 30px;
  min-height: 122px;
}

@media all and (max-width: 769px) {
  .footer__first-part {
    padding-bottom: 30px;
  }
}

.footer__logo {
  width: 122px;
  height: 122px;
  margin-right: 35px;
  background-image: url("../../images/thumb-app.png");
  background-size: 100%;
  background-position: top left;
  background-repeat: no-repeat;
}

@media all and (max-width: 769px) {
  .footer__logo {
    width: 82px;
    height: 82px;
    margin: 0 20px;
  }
}

.footer__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  font-family: "DINPro Bold", "Arial Black", Gadget, sans-serif;
}

@media all and (max-width: 769px) {
  .footer__description {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
  }
}

@media all and (max-width: 360px) {
  .footer__description {
    width: 49%;
  }
}

.footer__download {
  font-size: 22px;
  margin-bottom: 20px;
}

@media all and (max-width: 769px) {
  .footer__download {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

.footer__last-part {
  text-align: center;
  font-family: "DINPro Medium", Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
  color: #9e9e9e;
}

@media all and (max-width: 769px) {
  .footer__last-part {
    padding: 0 10px;
    font-size: 10px;
  }
}
/*# sourceMappingURL=styles-index.css.map */