body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bold {
  font-weight: bold;
}

.background-1 {
  background-color: #f9f9f9;
}

.background-white {
  background-color: white;
}

.nav {
  width: 100%;
  height: 55px;
  position: fixed;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.nav-logo__link {
  width: 100px;
  height: 35px;
  margin-left: 10%;
  margin-top: 25px;
  /* TEMPORARY */
  border: 1px solid #d7d7d7;
  text-align: center;
  line-height: 35px;
  font-size: 12px;
  background-color: black;
}

@media all and (max-width: 768px) {
  .nav-logo__link {
    width: 30%;
    margin-left: 10px;
  }
}

.nav-links {
  margin-right: 40px;
}

.nav-links__item {
  margin-right: 30px;
}

@media all and (max-width: 768px) {
  .nav-links__item {
    margin-right: 10px;
  }
}

@media all and (max-width: 768px) {
  .nav-links {
    margin-right: 10px;
  }
}

.form__container {
  padding: 75px 190px;
  width: calc(100% - 380px);
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

@media all and (max-width: 1000px) {
  .form__container {
    padding: 75px 80px;
    width: calc(100% - 160px);
  }
}

@media all and (max-width: 768px) {
  .form__container {
    padding: 50px 5px 25px 5px;
    width: calc(100% - 10px);
  }
}

.form__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.form__description {
  color: #999999;
  margin-bottom: 45px;
}

@media all and (max-width: 768px) {
  .form__description {
    margin: 0 15px 30px 15px;
  }
}

.form__social {
  background-color: #e4e4e4;
  width: 100%;
  height: 150px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  height: 820px;
  width: 100%;
  background-color: #F2F2F2;
  padding: 60px 0;
}

.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  width: 100%;
  margin-bottom: 35px;
}

.form__label {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.form__input {
  width: 70%;
  height: 35px;
  margin-bottom: 30px;
}

@media all and (max-width: 768px) {
  .form__input {
    width: 90%;
  }
}

.form__textarea {
  width: 70%;
  height: 165px;
}

@media all and (max-width: 768px) {
  .form__textarea {
    width: 90%;
  }
}

.form__button {
  width: 300px;
  height: 50px;
  background-color: #D7D7D7;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
}

.social__item {
  width: 50px;
  height: 50px;
  margin-right: 50px;
  border: 1px solid red;
}

.social__item:nth-child(2) {
  display: none;
}

@media all and (max-width: 768px) {
  .social__item:nth-child(2) {
    display: block;
  }
}

.social__item:nth-child(3) {
  margin-right: 0;
}

.social__or {
  position: absolute;
  bottom: -15px;
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  height: 30vh;
  width: 100%;
  margin-top: 50px;
}

.footer__first-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  width: 100%;
}

.footer__logo {
  width: 100px;
  height: 100px;
  border: 1px solid red;
}

.footer__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  width: 30%;
}

.footer__download {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.footer__last-part {
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  width: 100%;
}
/*# sourceMappingURL=styles-invite.css.map */