* {
    box-sizing: border-box;
    line-height: 1;
}

body {
    font-family: $DINProMedium;
    margin: 0;
    padding: 0;
    position: relative;

    @media all and (max-width: 769px) {
        margin-top: 48px;
    }
}

.logo {
    position: absolute;
    margin-left: $global-padding-left;
    margin-top: 25px;
    width: 140px;
    z-index: 2;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.background-1 {
    background-color: #f9f9f9;
}

.background-white {
    background-color: white;
}

// .owl-item {
//     max-width: 260px;
//     max-height: 180px;
// }

.owl-carousel .owl-item img {
    width: auto;
}

.first-section__items-list--mobile.owl-theme .owl-dots {
    margin-top: 15px;
}

.first-section__items-list--mobile.owl-theme .owl-dots .owl-dot span {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #959595;
    margin: 7px;
}

.first-section__items-list--mobile.owl-theme .owl-dots .owl-dot.active span {
    background-color: $orange;
}

.first-section__items-list--mobile .owl-prev {
    height: 60px;
    width: auto;
    position: absolute;
    left: 20px;
    margin: auto;
    top: 30px;
    cursor: pointer;
}

.first-section__items-list--mobile .owl-next {
    height: 60px;
    width: auto;
    position: absolute;
    right: 20px;
    margin: auto;
    top: 30px;
    cursor: pointer;
}

.first-section__items-list--mobile.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
}

.first-section__items-list--mobile.owl-theme .owl-nav [class*=owl-]:hover svg {
    fill: $orange;
}

br.large-screen {
    @media all and (max-width: 1000px) {
        display: none;
    }
}