.first-section {
    @include displayFlex;
    @include flexDirectionColumn;
    @include justifyContentStart;
    @include alignItemsCenter;
    width: 100%;
    padding: 50px 0 15px 0;

    @media all and (max-width: 768px) {
        height: auto;
        padding: 0;
        padding-top: 20px;
    }
    

    &__title {
        color: #9e2505;
        font-family: $DINBlack;
        text-align: center;
        line-height: 1.2;
        letter-spacing: 1px;
        font-size: 3vw;
        margin-bottom: 70px;

        @media all and (max-width: 900px) {
            text-align: center;
            margin-bottom: 20px;
        }

        &--desktop {
            @media all and (max-width: 769px) {
                display: none;
            }
        }

        &--mobile {
            display: none;
            @media all and (max-width: 769px) {
                display: block;
                font-size: 40px;
                padding: 0 10px;
            }

            @media all and (max-width: 425px) {
                font-size: 24px;
            }
        }
    }

    &__items-list {
        @include displayFlex;
        @include justifyContentAround;
        @include alignItemsCenter;
        width: 100%;
        position: relative;
        padding: 0 90px;

        // @media all and (max-width: 769px) {
        //     padding: 0;
        //     padding-top: 30px;
        // }

        &--mobile.owl-carousel {
            display: none;
        }

        @media all and (max-width: 769px) {
            display: none;

            &--mobile.owl-carousel {
                display: block;
                margin: 30px 0;
            }
        }
    }

    &__item {
        @include displayFlex;
        @include flexDirectionColumn;
        @include justifyContentCenter;
        @include alignItemsCenter;

        // @media all and (max-width: 769px) {
        //     // display: none;

        //     &--active {
        //         @include displayFlex;
        //         animation: slideIn 1s forwards;
        //     }
        // }
    }

    // @keyframes slideIn {
    //     0% {
    //         opacity: 0;
    //         transform: translate3d(-100%, 0, 0);
    //     }
        
    //     100% {
    //         opacity: 1;
    //     }
    // }

    &__arrow {
        display: none;
        width: 70px;
        height: 85px;
        position: absolute;
        margin: auto;
        top: 30px;
        cursor: pointer;

        @media all and (max-width: 769px) {
            &--active {
                display: block;
            }
        }

        &--right {
            right: 10px;
        }
    }

    // &__slider-buttons {
    //     display: none;
    //     list-style: none;
    //     width: 100%;
    //     padding: 0;
    //     margin-top: 10px;
    //     margin-bottom: 25px;

    //     @include justifyContentCenter;
    // }

    // &__slider-button {
    //     width: 7px;
    //     height: 7px;
    //     border-radius: 50%;
    //     background-color: #959595;
    //     margin: 7px;
        
    //     &--active {
    //         background-color: $orange;
    //     }
    // }

    &__video {
        width: 85%;
        margin: 0 auto;
        height: 48vw;
        margin-top: 3%;
        
        background-image: url("../../images/video_thumb.png");
        @include backgroundImage;

        @media all and (max-width: 769px) {
            background-image: url("../../images/mobile_thumb.jpg");
            background-size: cover;
            width: 100%;
            height: 150vw;
            margin-top: 0;
        }
    }
}

.first-section-video {
    &__overlay {
        background-color: rgba(0,0,0,0.5);
        width: 100%;
        height: 100%;

        @include displayFlex;
        @include justifyContentCenter;
        @include alignItemsCenter;
        @include flexDirectionColumn;
    }

    &__text {
        color: white;
        font-family: $DINProMedium;
        font-size: 22px;
        margin-top: 20px;
        text-align: center;
        padding: 0 20px;

        @media all and (max-width: 769px) {
            font-size: 20px;
        }

        @media all and (max-width: 425px) {
            font-size: 14px;
        }
    }

    &__play-button {
        width: 6vw;
        cursor: pointer;

        @media all and (max-width: 769px) {
            width: 100px;
        }
    }
}

.first-section-item {
    &__pic {
        margin-bottom: 20px;
    }

    &__text {
        font-family: $DINProMedium;
        line-height: 1.2;
        color: #4c4c4c;
        font-size: 20px;
        text-align: center;
        padding: 10px;

        @media all and (max-width: 425px) {
            font-size: 14px;
        }
    }
}