.footer {
    @include displayFlex;
    @include flexDirectionColumn;
    @include justifyContentAround;
    @include alignItemsCenter;
    height: 30vh;
    max-height: 250px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 40px;
    box-sizing: border-box;

    color: #4b4b4b;

    @media all and (max-width: 769px) {
        height: 170px;
        padding-top: 40px;
        padding-bottom: 20px;
    }

    &__first-part {
        @include displayFlex;
        @include justifyContentCenter;
        @include alignItemsCenter;
        width: 100%;
        padding-bottom: 30px;
        min-height: 122px; 

        @media all and (max-width: 769px) {
            padding-bottom: 30px;
        }
    }

    &__logo {
        width: 122px;
        height: 122px;
        margin-right: 35px;
        background-image: url("../../images/thumb-app.png");
        @include backgroundImage;

        @media all and (max-width: 769px) {
            width: 82px;
            height: 82px;
            margin: 0 20px;
        }
    }

    &__description {
        @include displayFlex;
        @include flexDirectionColumn;
        @include justifyContentCenter;
        @include alignItemsCenter;

        font-family: $DINProBold;

        @media all and (max-width: 769px) {
            @include alignItemsStart;
        }

        @media all and (max-width: 360px) {
            width: 49%;
        }
    }

    &__download {
        font-size: 22px;
        margin-bottom: 20px;

        @media all and (max-width: 769px) {
            font-size: 14px;
            margin-bottom: 10px;
        }
    }

    &__last-part {
        text-align: center;
        font-family: $DINProMedium;
        font-size: 16px;
        width: 100%;
        color: #9e9e9e;

        @media all and (max-width: 769px) {
            padding: 0 10px;
            font-size: 10px;
        }
    }
}