$light-grey: #F2F2F2;
$middle-grey: #e4e4e4;
$dark-grey: #999999;

$light-dark: #333333;

.form {
    &__container {
        padding: 75px 190px;
        width: calc(100% - 380px);
        color: $light-dark;

        @include displayFlex;
        @include flexDirectionColumn;
        @include justifyContentCenter;
        @include alignItemsCenter;

        @media all and (max-width: 1000px) {
            padding: 75px 80px;
            width: calc(100% - 160px);
        }

        @media all and (max-width: 768px) {
            padding: 50px 5px 25px 5px;
            width: calc(100% - 10px);
        }
    }

    &__title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    &__description {
        color: $dark-grey;
        margin-bottom: 45px;

        @media all and (max-width: 768px) {
            margin: 0 15px 30px 15px;
        }
    }

    &__social {
        background-color: $middle-grey;
        width: 100%;
        height: 150px;
        position: relative;

        @include displayFlex;
        @include justifyContentCenter;
        @include alignItemsCenter;
    }

    &__content {
        @include displayFlex;
        @include flexDirectionColumn;
        @include justifyContentCenter;
        @include alignItemsCenter;
        height: 820px;
        width: 100%;
        background-color: $light-grey;
        padding: 60px 0;
    }

    &__group {
        @include displayFlex;
        @include flexDirectionColumn;
        @include justifyContentCenter;
        @include alignItemsCenter;
        width: 100%;
        margin-bottom: 35px;
    }

    &__label {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 10px;
    }

    &__input {
        width: 70%;
        height: 35px;
        margin-bottom: 30px;

        @media all and (max-width: 768px) {
            width: 90%;
        }
    }

    &__textarea {
        width: 70%;
        height: 165px;

        @media all and (max-width: 768px) {
            width: 90%;
        }
    }

    &__button {
        width: 300px;
        height: 50px;
        background-color: #D7D7D7;
        text-align: center;
        line-height: 50px;
        font-weight: bold;
    }
}

.social {
    &__item {
        width: 50px;
        height: 50px;
        margin-right: 50px;

        &:nth-child(2) {
            display: none;

            @media all and (max-width: 768px) {
                display: block;
            }
        }

        &:nth-child(3) {
            margin-right: 0;
        }

        // TEMPORARY
        border: 1px solid red;
    }

    &__or {
        position: absolute;
        bottom: -15px;
        margin: 0 auto;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
    }
}