.header {
    position: relative;
    @include displayFlex;
    @include justifyContentStart;
    
    height: 49vw;
    width: 100%;

    background-image: url("../../images/header-background.png");
    @include backgroundImage;
    color: white;

    @media all and (max-width: 1100px) {
        background-image: url("../../images/test-header2.png");
        height: 60vw;
    }

    @media all and (max-width: 769px) {
        background-image: url("../../images/header-background_mobile.png");
        height: 191vw;
    }

    &__first-part {
        @include displayFlex;
        @include flexDirectionColumn;
        @include justifyContentCenter;
        margin-left: $global-padding-left;

        @media all and (max-width: 769px) {
            margin-bottom: 22vw;
            margin-top: 83vw;
            @include justifyContentStart;
        }

        @media all and (max-width: 343px) {
            margin-top: 72vw;
        }
    }

    &__scroll-arrows {
        position: absolute;
        bottom: 50px;
        margin: 0 auto;
        right: 0;
        left: 0;
        @include displayFlex;
        @include justifyContentCenter;
        @include flexDirectionColumn;
        @include alignItemsCenter;

        @media all and (max-width: 1000px) {
            bottom: 35px;
        }

        @media all and (max-width: 769px) {
            bottom: 8%;
        }

        @media all and (max-width: 343px) {
            bottom: 5%;
        }

        animation: bounce-down 2s infinite;
    }
}


@keyframes bounce-down {
    0%, 20%, 80%, 100% {
    @include transform(translateY(0));
  }
	50% {
    @include transform(translateY(-10px));
  }
}

.header-description {
    margin-bottom: 40px;

    @media all and (max-width: 1250px) {
        margin-bottom: 20px;
    }

    @media all and (max-width: 769px) and (min-width: 420px) {
        margin-bottom: 40px;
    }

    &__title {
        font-family: $DINBlack;
        line-height: 1.2;
        letter-spacing: 1px;
        font-size: 3.5vw;
        margin-bottom: 20px;

        &--desktop {
            @media all and (max-width: 769px) {
                display: none;
            }
        }

        &--mobile {
            display: none;
            
            @media all and (max-width: 769px) {
                display: block;
                font-size: 10vw;
            }

            @media all and (max-width: 425px) {
                display: block;
                font-size: 34px; 
            }
        }
    }

    &__text {
        font-size: 20px;
        width: 33%;
        line-height: 1.7;
        font-family: $DINProMedium;

        @media all and (max-width: 1500px) {
            font-size: 15px;
        }

        @media all and (max-width: 1000px) {
            font-size: 13px;
            line-height: 1.1;
        }

        @media all and (max-width: 769px) {
            font-size: 3vw;
            width: 90%;
            line-height: 1.7;
        }

        @media all and (max-width: 425px) {
            font-size: 14px;
        }
    }
}

.download-links {
    width: 42%;

    @include displayFlex;
    @include justifyContentStart;

    @media all and (max-width: 1000px) {
        width: 50%;
    }

    @media all and (max-width: 769px) {
        width: 100%;
    }

    &__item {
        width: 175px;
        text-decoration: none;

        @include displayFlex;
        @include alignItemsCenter;

        @media all and (max-width: 1000px) {
            width: 140px;
        }

        @media all and (max-width: 769px) and (min-width: 420px) {
            width: 175px;
        }

        @media all and (max-width: 330px) {
            width: 115px;
        }

        &:nth-child(1) {
            margin-right: 28px;

            @media all and (max-width: 1000px) {
                margin-right: 5%;
            }

            @media all and (max-width: 330px) {
                margin-right: 2%;
            }
        }
    }
}
