.section {
    width: 100%;
    padding: 0;

    
    @include displayFlex;
    @include justifyContentBetween;
    @include alignItemsCenter;
    
    &:nth-child(6), &:nth-child(7) {
        padding-top: 80px;
    }

    @media all and (max-width: 769px) {
        height: auto;

        &:nth-child(6), &:nth-child(7)  {
            padding-top: 30px;
        }

        &:nth-child(8)  {
            padding-top: 30px;
            padding-bottom: 25px;
        }
    }

    &__first-part {
        width: 60%;

        @media all and (max-width: 769px) {
            width: 100%;
        }
    }

    &__second-part {
        width: 60%;

        @media all and (max-width: 769px) {
            width: 100%;
        }
    }

    &__description {
        width: 100%;
        padding: 0;
        padding-left: $global-padding-left * 2;
        padding-right: $global-padding-left;

        &--right {
            padding-left: $global-padding-left;
            padding-right: $global-padding-left * 2;

            @media all and (max-width: 769px) {
                padding: $global-padding-left;
            }
        }

        @media all and (max-width: 769px) {
            padding: 0 $global-padding-left;
        }
    }

    &__illustration {
        position: relative;
        width: 40%;
        height: 100%;
        padding-right: 7.5%;

        @include displayFlex;
        @include justifyContentCenter;
        @include alignItemsCenter;

        &:nth-child(1) {
            padding-left: 7.5%;
            padding-right: 0;
        }

        &:nth-child(1) img {
            z-index: 2;
        }

        & img {
            max-width: 100%;
            height: auto;
            display: inline-block;
        }

        @media all and (max-width: 769px) {
            display: none;
        }
    }

    &__illustration-mobile {
        display: none;

        @media all and (max-width: 769px) {
            display: block;
            width: 100%;
            margin-bottom: 25px;
        }
    }

    &__title {
        color: #9e2505;
        font-family: $DINBlack;
        line-height: 1.2;
        letter-spacing: 1px;
        font-size: 3vw;
        margin-bottom: 50px;

        &--desktop {
            @media all and (max-width: 769px) {
                display: none;
            }
        }

        &--mobile {
            display: none;
            @media all and (max-width: 769px) {
                display: block;
                font-size: 40px;
                text-align: center;
                margin-bottom: 25px;
            }
    
            @media all and (max-width: 425px) {
                font-size: 24px;
            }
        }
    }

    &__subillustration {
        margin-top: 5%;
        @include transform(translateX(-9vw));
        display: inline-block;
        max-width: 100%;
        height: auto;

        @media all and (max-width: 769px) {
            display: none;
        }
    }
}

.section-description {
    &__text-list {
        font-family: $DINProMedium;
        color: #4c4c4c;
        list-style: none;
        margin: 0;

        @media all and (max-width: 769px) {
            margin: 0 auto;
            width: 90%;
            padding: 0;
            font-size: 20px;
        }

        @media all and (max-width: 425px) {
            font-size: 14px;
        }
    }

    &__text-item {
        margin-bottom: 15px;
        position: relative;

        & span {
            position: relative;
            display: block;
            padding-left: 20px;
            letter-spacing: 0.02em;
            line-height: 1.4;
        }

        &:before {
            content: '•';
            position: absolute;
            left: 0;
            top: 2px;
        }
    }
}