.svg {
    &-apple {
        fill: white;
        height: 30px;
        width: auto;
        margin: 0 15px 0 10px;

        @media all and (max-width: 1000px) {
            height: 20px;
        }

        @media all and (max-width: 769px) and (min-width: 420px) {
            height: 30px;
        }

        @media all and (max-width: 330px) {
            margin: 0 7px 0 5px;
        }
    }

    &-googleplay {
        fill: white;
        height: 30px;
        width: auto;
        margin: 0 10px;
        
        @media all and (max-width: 1000px) {
            height: 20px;
        }
        
        @media all and (max-width: 769px) and (min-width: 420px) {
            height: 30px;
        }

        @media all and (max-width: 330px) {
            margin: 0 7px 0 5px;
        }
    }

    &-score {
        fill: white;
        height: 100%;
        width: auto;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
    }

    &-fb {       
        &__f {
            fill: white;
        }
    }

    &-whatsapp {
        &__content {
            fill: white;
        }
    }

    &-messenger {        
        &__content {
            fill: white;
        }
    }

    &-line {        
        &__content {
            fill: white;
        }
    }

    &-mail {        
        &__envelope {
            fill: white;
        }
    }

    &-arrow {
        width: 25px;
        fill: rgba(250,250,250,0.7);

        &--active {
            fill: white;
        }

        @media all and (max-width: 400px) {
            width: 20px;
        }
    }

    &-slider {
        fill: #959595;
        height: 60px;
        width: auto;

        &:hover {
            fill: $orange;
        }
    }
}