.aside-infos {
    position: relative;

    @media all and (max-width: 769px) {
        margin-top: 25px;
    }

    &__container {
        background-color: #2a2a2a;
        color: white;
        padding-left: $global-padding-left * 2;
        height: 13vw;
        width: 80%;
        margin-top: 10%;

        @media all and (max-width: 769px) {
            width: 100%;
            padding: $global-padding-left;
            margin-top: 0;
            height: auto;
        }
    }

    &__description {
        @include displayFlex;
        @include flexDirectionColumn;
        @include justifyContentCenter;
        height: 100%;
        width: 80%;
        font-size: 1.1vw;
        font-family: $DINProMedium;

        @media all and (max-width: 769px) {
            width: 100%;
        }
    }

    &__title {
        font-family: $DINBlack;
        font-size: 1.8vw;
        margin-bottom: 15px;

        &--desktop {
            @media all and (max-width: 769px) {
                display: none;
            }
        }

        &--mobile {
            display: none;
            @media all and (max-width: 769px) {
                display: block;
                font-size: 30px;
                margin-bottom: 15px;
                text-align: left;
            }
            @media all and (max-width: 425px) {
                font-size: 18px;
            }
        }
    }

    &__text {
        line-height: 1.5;

        @media all and (max-width: 769px) {
            line-height: 1.4;
            font-size: 20px;
        }

        @media all and (max-width: 425px) {
            font-size: 14px;
        }
    }

    &__circle {
        background: linear-gradient(#ffac37 0%, #ff6b06 50%, #ff6b06 100%);
        position: absolute;
        right: 0;
        color: white;
        top: -1.5vw;
        height: 17vw;
        width: 17vw;
        border-radius: 50% 50%;

        @include displayFlex;
        @include flexDirectionColumn;
        @include justifyContentCenter;
        @include alignItemsCenter;

        @media all and (max-width: 769px) {
            display: none;
        }
    }
}

.circle {
    &__text {
        font-size: 1.3vw;
        font-family: $DINProMedium;
        margin-bottom: 1vw;
    }

    &__score {
        height: 39%;
        width: 100%;
        position: relative;
    }
}