.aside-infos {
    position: relative;

    &__container {
        background-color: #2a2a2a;
        color: white;
        padding-left: $global-padding-left * 2;
        height: 190px;
        width: 700px;
        margin-top: 10%;

        @media all and (max-width: 769px) {
            width: 100%;
            padding: $global-padding-left;
            margin-top: 0;
            height: auto;
        }
    }

    &__description {
        @include displayFlex;
        @include flexDirectionColumn;
        @include justifyContentCenter;
        height: 100%;
        width: 81%;
        font-size: 16px;
        font-family: $DINProMedium;

        @media all and (max-width: 769px) {
            width: 100%;
        }
    }

    &__title {
        font-family: $DINBlack;
        font-size: 1.49vw;
        margin-bottom: 15px;

        @media all and (max-width: 769px) {
            font-size: 7vw;
            margin-bottom: 15px;
            text-align: center;
        }
    }

    &__text {
        line-height: 1.5;

        @media all and (max-width: 769px) {
            line-height: 1.4;
            font-size: 16px;
        }
    }

    &__circle {
        background: linear-gradient(#ffac37, #ff6b06);
        position: absolute;
        left: 613px;
        color: white;
        top: -1.5vw;
        height: 244px;
        width: 244px;
        border-radius: 50% 50%;

        @include displayFlex;
        @include flexDirectionColumn;
        @include justifyContentCenter;
        @include alignItemsCenter;

        @media all and (max-width: 769px) {
            display: none;
        }
    }
}

.circle {
    &__text {
        font-size: 18px;
        font-family: $DINProMedium;
        margin-bottom: 1vw;
    }

    &__score {
        height: 100px;
        width: 140px;
        position: relative;
    }
}