.back-to-top {
    cursor: pointer;
    position: absolute;
    bottom: 40px;
    right: 10%;
    @include displayFlex;

    & svg {
        width: 20px;
        height: 20px; 
    }
    
    & span {
        font-family: $DINProMedium;

        display: inline-block;
        margin-left: 10px;
        font-size: 13px;
        color: #969696;
        line-height: 20px;
    }

    @media all and (max-width: 769px) {
        display: none;
    }
}