.button {
    &-download {
        text-transform: uppercase;
        text-align: center;
        font-size: 22px;
        text-decoration: none;
        color: white;
        height: 62px;
        width: 285px;
        line-height: 42px;

        background-color: $orange;
        padding: 10px 40px;
        border-radius: 30px;

        @media all and (max-width: 769px) {
            padding: 10px 15px;
            font-size: 12px;
            line-height: 13px;
            text-align: center;

            width: 155px;
            height: 33px;
        }
    }
}