.social-nav {
    position: fixed;
    top: 25%;
    left: 0;

    @media all and (max-width: 769px) {
        display: none;
    }

    &__item {
        width: 40px;
        height: 40px;
        display: block;
        position: relative;

        &:hover {
            animation: bounce .5s ease-in-out;
        }

        & svg {
            width: 20px;
            height: 20px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }

        &--fb {
            background-color: #3b5999;
        }

        &--whatsapp {
            background-color: #25D366;
        }
        
        &--messenger {
            background-color: #0084ff;
        }
        
        &--line {
            background-color: #00c300;
        }

        &--mail {
            background-color: #848484;
        }
    }
}

@keyframes bounce {
	0%, 100% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
        transform:         translateY(0);
	}
	50% {
		-webkit-transform: translateX(15px);
		-ms-transform:     translateX(15px);
        transform:         translateX(15px);
	}
}