@mixin displayFlex() {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@mixin justifyContentCenter() {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@mixin justifyContentEnd() {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

@mixin justifyContentStart() {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

@mixin justifyContentAround() {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

@mixin justifyContentBetween() {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@mixin alignItemsCenter() {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}

@mixin alignItemsStart() {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
}

@mixin alignItemsEnd() {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -ms-grid-row-align: flex-end;
    align-items: flex-end;
}

@mixin flexDirectionColumnReverse() {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
}

@mixin flexDirectionColumn() {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

@mixin flexDirectionRow() {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

@mixin flexDirectionRowReverse() {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

@mixin flexWrap() {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@mixin alignSelfEnd() {
    -ms-flex-item-align: end;
    align-self: flex-end;
}

@mixin backgroundImage() {
    background-size: 100%;
    background-position: top left;
    background-repeat: no-repeat;
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    transform: $transform;
}

@font-face {
    font-family: 'DIN Black';
    src: url('../../fonts/din-black.ttf')  format('truetype');
}
@font-face {
    font-family: 'DINPro Medium';
    src: url('../../fonts/DINPro-Medium.ttf')  format('truetype');
}
@font-face {
    font-family: 'DINPro Bold';
    src: url('../../fonts/DINPro-Bold.ttf')  format('truetype');
}

$DINBlack: 'DIN Black', "Arial Black", Gadget, sans-serif;
$DINProMedium: 'DINPro Medium', Arial, Helvetica, sans-serif;
$DINProBold: 'DINPro Bold', "Arial Black", Gadget, sans-serif;

$global-padding-left: 7.5%;
$orange: #ff5b14;

.no-wrap {
    white-space: nowrap;
}

.bold {
    font-weight: bold;
}

.hidden {
    display: none;
}

.br-mobile {
    display: none;

    @media all and (max-width: 425px) {
        display: block;
    }
}