.video-lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);

    @include justifyContentCenter;
    @include alignItemsCenter;

    &--visible {
        @include displayFlex;
    }

    &__close-button {
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 15px;
        color: white;

        & span {
            padding-left: 5px;
        }
    }

    video {
        max-width: 50%;
        max-height: 100%;

        @media all and (max-width: 426px) {
            max-width: 100%;
            max-height: 100%;
        }
    }
}