@font-face {
    font-family: 'DIN Black';
    src: url('https://s3-ap-southeast-1.amazonaws.com/s.food-pulse/fonts/din-black.ttf')  format('truetype');
    src: url('https://s3-ap-southeast-1.amazonaws.com/s.food-pulse/fonts/din-black.woff2')  format('woff2');
}
@font-face {
    font-family: 'DINPro Medium';
    src: url('https://s3-ap-southeast-1.amazonaws.com/s.food-pulse/fonts/DINPro-Medium.ttf')  format('truetype');
    src: url('https://s3-ap-southeast-1.amazonaws.com/s.food-pulse/fonts/DINPro-Medium.woff2')  format('woff2');
}
@font-face {
    font-family: 'DINPro Bold';
    src: url('https://s3-ap-southeast-1.amazonaws.com/s.food-pulse/fonts/DINPro-Bold.ttf')  format('truetype');
    src: url('https://s3-ap-southeast-1.amazonaws.com/s.food-pulse/fonts/DINPro-Bold.woff2')  format('woff2');
}